{% if site.weibo_uid %}
<section>
  <h1>Jaskey Lam的微博</h1>
  <ul id="weibo">
    <li>
		<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="yes" 
				src="https://widget.weibo.com/weiboshow/index.php?
				language=&
				width=0&
				height=550&
				fansRow={{site.weibo_fansrow}}& 
				ptype={% if site.weibo_pic %}1{% else %}0{% endif %}&
				speed={{site.weibo_scrolling_speed}}&
				skin={{site.weibo_skin}}&
				isTitle=0&
				noborder={% if site.weibo_noborder %}1{% else %}0{% endif %}&
				isWeibo={% if site.weibo_show %}1{% else %}0{% endif %}&
				isFans={{site.weibo_fansrow}}&
				uid={{site.weibo_uid}}&
				verifier={{site.weibo_verifier}}&
				dpc=1">
		</iframe>
    </li>
  </ul>
</section>
{% endif %}