<div id="myelement">
	.markdown文件中，在需要引入HTML文件的地方写上：
	<p id="includeCode">'{'%include demo/include_HTML_demo.html +'%'}' (注:去掉其中的单引号)</p>
	<p>HTML代码即会导入，若内嵌JavaScript脚本，也会自动导入允许。</p>
	<p>这里你看到的区域都是外部导入的HTML文件，尝试点击这里，会发现有脚本运行.</p>
	<p id="clickme">点我试试看</p>
</div>

<script>

	$(function(){
		$('#includeCode').text($('#includeCode').text().replace(/\+|\"/,''));
		$('p#clickme').hover(function(){
		$(this).css("color","blue");
		},function(){
		$(this).css("color","black");
		});

		$('div#myelement').on('click',function(e){
		alert("你刚刚点击了#myelement区域，onClick事件触发了。");
		});
	})

</script>