html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
	font-family:'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;	
    font-size:16px;
}
body * {
    padding:0;
    margin:0;  
}

.education-section .education-exeperience {
    margin: 20px 0 10px 0;
}

.gpa {
    margin: 5px 0;
}

.major {
    margin: 10px 0px;
}

.points-container {
    padding-left: 25px;
    /* display: flex; */
    /* height: 100%; */
}


div#mainContent {
    /* display: flex; */
}

.info {
    width: 350px;
    position: fixed;
}

div#resumeContent {
    /* flex: 1; */
}

.info-brief {
    background-color: #2476fb;
    color: white;
    font-weight: bold;
    padding-top: 100px;
    text-align: center;
    margin-bottom: 80px;
}

.avatar img {
    height: 202px;
    width: 202px;
    border-radius: 101px;
}

.info-brief .name {
    font-size: 33px;
}

.birth {
    font-size: 18px;
}



.contact-info {}

.info-contact {
    padding-left: 73px;
}

div#resumeContent {
    padding-left: 123px;
    padding-top: 160px;
    margin-left: 350px;
}

#resumeContent .section {
    display: flex;
    margin-bottom: 50px;
    position: relative;
}

.section-title {
    margin: 0;
    width: 40px;
    font-size: 36px;
}

.work-experience .section-title {
    color: #2476fb;
}

.section-content {
    height: auto;
    flex: 1;
    margin-left: 16px;
    margin-top: 20px;
    /* padding-left: 30px; */
    border-left: 8px solid black;
}

.education-section .section-content {
    position: relative;
    padding-bottom: 60px;
    padding-left: 40px;
}

.section {}

.summary .section-content {
    border-left-color: #febe00;
    padding-left: 40px;
}

.summary .section-title {
    color: #febe00;
}

.section-content li {
    line-height: 24px;
    font-size: 14px;
}

.points-container ul {
    align-items: center;
}

.work-experience .section-content {
    border-left-color: #2476fb;
}

.fragment-name {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
}

.fragment-comment {
    display: block;
    font-size: 18px;
}

.date {
    padding: 8px 10px;
    font-size: 20px;
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2476fb;      border-bottom: 4px solid #2f4160;
}

.project-Fragment .date {
    background-color: #e7532c;
    border-bottom-color: #7b3622;
}

.date span {
    /* padding: 8px 10px; */
}

.work-experience .date {
    background-color: #2476fb;
    border-bottom: 4px solid #2f4160;
}

.fragment {
    position: relative;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 40px;
    /* margin-bottom: 20px; */
}

div.work-Fragment:last-child .fragment {
    margin-bottom: 0;
}

.fragment {
    /* margin-bottom: 0; */
}



.project-experience .section-content {
    border-left-color: #e7532c;
}

.project-experience .section-title {
    color: #e7532c;
}


.fragment .fragment-content {
    padding-top: 10px;
}

.fragment-summary {
    font-size: 16px;
    margin-bottom: 6px;
}

.major {}