// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.about {
     font-style: italic;
     background-color: #FFF;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #CCC;
     box-shadow: 0 0 5px #CCC;
     overflow: hidden;
     clear: both;
     .about-image {
          width: 150px;
          float: left;
          display: inline-block;
          margin-right: 20px;
     }
     .about-desc > hr {
          border: none;
          border-top: 1px dotted #CCC;
          padding-top: 10px;
     }
     #twitter-widget-1 {
          float: right
     }
}
